/* 1. 기본 설정 */
*{ padding: 0px; margin: 0px; box-sizing: border-box;}
li{ list-style-type: none;}
a{ text-decoration: none; color: black;}

.button{border: none;}
.box-black{ 
    background-color: black; border: solid 1px gray;
    display: inline-flex; width: 10px; height: 10px;}
.box-white{ 
    background-color: white; border: solid 1px gray;
    display: inline-flex; width: 10px; height: 10px;}
.red{ color: red;}
.gray-text{ color: gray;}
.size{ font-size: 12px ;}
.line-through{ text-decoration: line-through ;}


/* 2. HEADER */
.head-top{ width: 1280px; padding: 10px; justify-self: end; line-height: 100%;}
.head-top > ul{ display: flex; justify-content: end;}
.head-top > ul> li > a{ padding: 0px 20px; border-right: solid 1px #dbdbdb; font-size: 10px;}

.head-main{
    display: flex; width: 100%; justify-content: space-between; align-items: center;
    position: sticky; top: 0px; 
    background-color: #ffffffcc; opacity: 60%; border-top: solid 1px #dbdbdb;
    padding: 0px 40px; 
}
.head-main > ul > a > img{ width: 100px; margin-right: 10px;}
.head-main > .head-menu{
    display: flex; flex-wrap: wrap; justify-content: start; width: 100%;
    align-items: center; font-size: 12px ; 
}
.head-main > .head-menu > li{ padding: 15px 8px; }

.head-menu-MADE{ 
    position: relative; 
    display: flex; justify-content: center; 
}

.head-menu-MADE .head-submenu-MADE{ 
    position: absolute; top: 47px;
    background-color: #ffffffcc;
    text-align: center; padding: 5px 0px; 
    display: none; width: 100%; }

.head-submenu-MADE > li{ padding: 5px;}
.head-menu-MADE:hover .head-submenu-MADE{ display: block;}

.head-main > .search{ display: flex; width: 200px; height: 30px; align-items: center;}
.head-main > .search > input{  border-bottom: solid 1px gray; }
.head-main > .search > button > img{ width: 15px; }



/* 3. 본문 */
.box-black{ 
    background-color: black; border: solid 1px gray;
    display: inline-flex; width: 10px; height: 10px;}
.box-white{ 
    background-color: white; border: solid 1px gray;
    display: inline-flex; width: 10px; height: 10px;}
.red{ color: red;}
.gray-text{ color: gray;}
.size{ font-size: 12px ;}
.line-through{ text-decoration: line-through ;}

.main-img{ width: 100%; }
#main > .main-content{
    width: 1280px; margin: 0 auto;
    display: block;;
}
.main-items{
    display: flex; flex-wrap: wrap;
}
.main-content-head{ margin-top: 40px; display: block; text-align: center; }
.main-content-head > li{ padding: 5px; }
.main-items > .item{
    width: 300px; margin: 35px 5px;
}
.item-img{ width: 300px; }
.item-padding{  }
.item-info > .item-top{ display: flex; justify-content: space-between; margin: 0px 2px;}
.item-title > div{ padding-bottom: 4px;}
.item-info > .item-price{ display: block;}


/* 4. footer */
#footer{ width: 100%; background-color: #f7f7f7; margin-top: 20px; padding-bottom: 50px;}
#footer-inner{ 
    display: flex; width: 1280px; 
    justify-content: space-evenly; margin: 0 auto; padding: 50px 20px; 
}
.footer-infor h3{ padding-bottom: 10px; }
.footer-infor div{ padding-top: 15px; letter-spacing: 1px;}


/* 5. popup */
#popup{
    position: fixed; right: 0px; top: 30%;
    display: block; background-color: #f7f7f7; 
    
}
#popup > ul{
}
#popup > ul > li{ 
    position: relative; padding: 10px;
    border: solid 1px #dbdbdb;
}
#popup > ul > li .popup-sub{ 
    display: none;
    position: absolute; right: 35px; top: 10px;
    background-color: black; color: white;
    width: 80px; padding: 1px;  border-radius: 4px;
    font-size: 10px; text-align: center; line-height: 160%;
}

#popup > ul > li:nth-of-type(1):hover .popup-sub{ display: block;}
#popup > ul > li:nth-of-type(2):hover .popup-sub{ display: block;}

#popup > ul > li img{ width: 20px;}


